<div class="widget-wrap">
    <h3 class="widget-title"><%= __('languages') %></h3>
    <div class="widget">
        <a href="<%- url_for_lang('zh') %>">简体中文</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('de') %>">Deutsche</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('es') %>">Español</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('fr') %>">français</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('ko') %>">한국어</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('ja') %>">日本語</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('nl') %>">Nederlands</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('no') %>">norsk</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('pt') %>">Português</a>&nbsp;&nbsp;
        <a href="<%- url_for_lang('ru') %>">русский</a>
    </div>
</div>